$border-color: #666;

ul.nav.nav-tabs {
  margin-bottom: 10px;
}

div.top-bar {
  h3,
  button {
    margin-right: 10px;
    display: inline-block;
  }
}

.table {

  th.right,
  td.right {
    text-align: right;
  }

  td.border-left {
    border-left: 1px solid #ddd;
  }

  tbody.step,
  tbody.employee {

    tr {
      &:first-of-type {
        td {
          border-bottom: 1px solid $border-color;
        }
      }

      &.total {
        td {
          font-weight: bold;
          border-top: 1px solid $border-color;
        }
      }
      th {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.form-inline {
  .date-picker {
    display: inline-block;
  }
}

.input-autocomplete {
  position: relative;
  .form-control + .dropdown-menu {
    font-size: .875rem;
    padding: .25rem;
    width: 100%;
    right: 0;

    .dropdown-item.row {
      display: flex;
      padding: .25rem 0;
      div {
        overflow: hidden;
      }
    }
  }
  .form-control-sm + .dropdown-menu {
    font-size: .75rem;
  }
  .form-control-lg + .dropdown-menu {
    font-size: 1rem;
  }
}

.price-level-edit {
  input[type="text"],
  input[type="number"] {
    width: 8em;
  }
}

.pricing-table {
  thead {
    tr th small {
      display: block;
      font-size: 0.625rem;
      font-weight: 400;
      line-height: 0.75rem;
    }
  }
}

.price-levels-sort-container {
  border: 1px solid black;
  //margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .price-level-box {
    flex: 0 0 8rem;
    border: 1px solid var(--bs-gray-600);
    padding: 0.25rem 0.5rem;
    margin: 1rem;
    cursor: move;
    &:hover {
      background-color: var(--bs-gray-200);
    }
    &.active {
      border: 1px solid var(--bs-primary);
      background-color: var(--bs-gray-300);
    }
    small {
      font-size: .75rem;
    }
    .price-level-header {
      display: flex;
      justify-content: space-between;
    }
  }

}

